body {
    display: flex;
    min-height: 100vh !important;
    flex-direction: column;
    min-height: 100vh !important;
}

main {
    flex: 1 0 auto;
}

.card {
    height:560px;
}

.btn-floating {
    z-index: 4 !important;
}

.card-image a {
    bottom : 30px !important;
}

.card-opacity {
    background-color: rgba(51, 210, 51, 0.7) !important;
}